@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    @apply bg-black-700
}

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.bg-gradient-green {
    background: linear-gradient(135deg, #00d36a, #00c1ff);
}